{% extends "dashboard/base.html" %}
{% block content %}
<div class="page-container">
    <h2>Categories</h2>
    <a class="btn btn-primary" href="{% url 'category_add' %}">Add Category</a>
    <table >
        <tr style="background:#f0f0f0;">
            <th>Title</th>
            <th>Country</th>
            <th>Price per Kilo</th>
            <th>Actions</th>
        </tr>
        {% for category in categories %}
        <tr>
            <td>{{ category.category_title }}</td>
            <td>{{ category.country.country_name }}</td>
            <td>{{ category.price_per_kilo }}</td>
            <td>
                <a class="btn btn-primary" href="{% url 'category_edit' category.pk %}">Edit</a>
                <a class="btn" style="background:red; color:white;" href="{% url 'category_delete' category.pk %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
